<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>802408779813-eovmoi77bc3c6im9nr146squ2rgdltmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802408779813-eovmoi77bc3c6im9nr146squ2rgdltmd</string>
	<key>API_KEY</key>
	<string>AIzaSyBNLUdhrt5x5GijlvXvY5ckfElKprAKnAA</string>
	<key>GCM_SENDER_ID</key>
	<string>802408779813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cse.ouda</string>
	<key>PROJECT_ID</key>
	<string>firebase-cse41</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-cse41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:802408779813:ios:75be8cb479b17540</string>
	<key>DATABASE_URL</key>
	<string>https://cse41.firebaseio.com</string>
</dict>
</plist>